<h1>Top Rated Cocktails</h1>
<ol>
    <% @recipes.each do |r| %>
        <li><strong><%= link_to "#{r.name_and_rating} - #{r.main_spirit.name}", recipe_path(r), class:"button" %></strong></li>
    <% end %>
</ol>